.pokedex__footer{
  display: flex;
  justify-content: space-between;
  margin: 15px 0 25px 10px;
  align-items: baseline;
}

.pokedex__button{
  border-radius: 5px;
  border: none;
  background: #0089DF;
  color: white;
  height: 40px;
  width: 150px;
}

.pokedex__button:hover{
  cursor: pointer;
  background: #0173b9;
}

.pokedex__pag_buttons{
  margin: 0 5px;
}


.pokedex__found{
  height: px;
  width: 25%;
  margin: 0 25px;
  background: #0089DF;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
}


.pokedex__found:hover{
  cursor: pointer;
  background: #0173b9;
}