.pokedex__grid{
    width: 75%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}
.pokedex__grid_figure{
    margin: 10px auto;
    height: 60%;
    width: 80%;
    background: #F9FAFB;
}
.pokedex__item__image{
    height: 90%;
}

.pokedex__text{
    margin: 15px;
}

.pokedex__item:hover{
    cursor: pointer;
}

@media screen and ( max-width: 850px ){

    .pokedex__grid{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    } 

}
  