@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container{
  margin: auto;
  margin-top: 25px;
  width: 60%;
}

.pokedex__header{
  text-align: left;
}
.pokedex__section{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and ( max-width: 850px ){
  .pokedex__section{
    flex-direction: column;
    width: 100%;
  }
}


